*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxing;
  }
  
  body{

    height: 100vh;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    background-color: #006c8710;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 70px;
  }
  
  .nav-area {
    list-style: none;
    align-content: center;
   
  }
  
  .nav-area > li {
    display: inline-block;
    padding: 0 15px;
  }
  
  .nav-area li a, h3{
    color: #1b75bc;
  }
  
  .nav-area li a:hover {
    color: #ffffff;
  }
  
  .btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #1b75bc;
  }
  
  .logo {
    height: 40px;
    width: 40px;
  }

  nav{
    margin: 0;
    padding: 0;
    box-sizing: border-boxing;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    gap: 40px;
  }
  .logo{
    width: 180px;
  }